.button-like {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #e1f184 0, #268448 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /* display: inline-flex; */
    font-family: "JetBrains Mono", monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 12px;
  }
  
  .button-like:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #197453 0 -3px 0 inset;
    transform: translateY(-1px);
  }
  
  .button-like:active {
    box-shadow: #273e2e 0 3px 6px inset;
    transform: translateY(1px);
  }

.gallery-item{
  display:flex;
  flex-direction: column;
  padding: 5px;
  /* border: 1px solid peachpuff; */
  box-shadow: 6px 6px peachpuff;

}

.image {
  /* border: solid 1px rgb(71, 0, 164); */
  height: 200px;
  width: 200px;
  object-fit: cover;
  padding: 3px;
  margin: 5px;
}

.image-box {
  height: 200px;
  width: 200px;
  /* border: 1px solid peachpuff;

  box-shadow: 6px 6px peachpuff; */

}

.textbox {
  height: 200px;
  width: 200px;
  color: peachpuff;
  /* border: 1px solid peachpuff; */

  /* box-shadow: 6px 6px peachpuff; */
}